/aclocal.m4
/autom4te.cache/
/compile
/config.h
/config.h.in
/config.log
/config.status
/configure
/configure~
/depcomp
/install-sh
Makefile
Makefile.in
/missing
*.o
/src/.deps/
/src/wmfire
/stamp-h1
